@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #222;
  margin: 0;
}

.container {
  font-family: Roboto,
    sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 100vh;
}

img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  margin: auto;
}

.swipe-btn-next,
.swipe-btn-prev {
  cursor: pointer;
  position: absolute;
  top: 40%;
  padding: 18px;
  font-weight: bold;
  color: white;
  font-size: 28px;
  transition: 0.7s ease;
  border-radius: 0 4px 4px 0;
  user-select: none;
}

.swipe-btn-next {
  right: 2%;
}

.swipe-btn-prev {
  left: 2%;
}
